@import '../../../App.css';

.home-header {
    /* padding-top: 10vh; */
    /* padding-bottom: 10vh; */
    /* padding-left: var(--padding-width); */
    
    justify-content:center;
    text-align: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    
}

@media screen and (max-width: 991px) {
    .profile-picture {
        width: 220px;
        height: 220px;
        margin-bottom: 2vh;
    }
}